
.breadcrumb{
  font-size: 18px;
  background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}
#divContainer{
  background-color: white; 
  color: rgb(79, 5, 153); 
  margin-top: 25px;
}
.breadcrumb-item{
  font-size: 24px;
  font-family: Tahoma, sans-serif;
  font-weight: lighter;
}
#list-example{
  height: 300px; 
  top: 100px;
}
.c2 {
  height: 50px;
  width: 70px;
  color: rgb(79, 5, 153);
  font-family: 'Times New Roman', Times, serif;
  position: fixed;
  bottom: 20px;
  left: 150px;
  background-color:rgb(142, 240, 138);
}
.hide {
  display: none;
}
a:hover{
  color: blueviolet;
}
h4>span{
  color:rgb(238, 162, 90);
   background-color: rgb(105, 233, 255); 
   font-family: 'Times New Roman', Times, serif;
}
tr td{
  text-align: center;
  vertical-align: middle;
}
tr>th{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}
.thCenter{
  text-align: center;
}
.list-group-item{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}
.alert-primary{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}
