p{
    word-wrap: break-word;
    word-break: break-all;
}
.breadcrumb{
    /* font-size: 18px;
    background-color:#e4dfdf; */
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
  }
#divContainer{
  background-color: white; 
  color: rgb(79, 5, 153); 
  margin-top: 25px;
}
.breadcrumb-item{
  font-size: 24px;
  font-family: Tahoma, sans-serif;
  font-weight: lighter;
}
tr td{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
tr th{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.alert-primary{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}