.wrap{
	margin:0 auto;
    width:1000px;
    font-family: 'Metal Mania', cursive;
	height: 85%;
	}
.logo{
	background:skyblue;
}
.logo h1{
	font-size:200px;
	color:yellow;
	text-align:center;
	margin-bottom:1px;
	text-shadow:1px 1px 6px #555;
	}	
.logo p{
	color:white;
	font-size:30px;
	margin-top:20px;
	text-align:center;
	vertical-align: middle;
	font-family: 'Times New Roman', Times, serif;
	height: 50px;
}	
.logo p span{
	color:lightgreen;}	
	
.sub a{
	color:yellow;
	background:#06afd8;
	text-decoration:none;
	padding:5px;
	font-size:16px;
	font-family: arial, serif;
	font-weight:bold;
	}
img{
	margin:0 auto;
	margin-left: 200px;
	/* width:1000px; */
	max-width: 100%;
	left: -50px;
	background-color: rgb(115, 115, 211);
}