/* #navTop{
    /* position: fixed; */
    /* position: sticky;
    position: -webkit-sticky;
    top: 5px; 
  }
.nav{
    /* background-color: rgb(205, 210, 211) ; 
    background-color:white;
    height: 60px;
    color:rgb(79, 5, 153);
    font-size: 28px;
    border-width:2px;
    border-bottom-style:solid;
    border-bottom-color:gray;
  }
  a{
    color:rgb(79, 5, 153);
    text-decoration: none;
  }
  .navPic{
    padding: 10px;
  }
  .nav img{
    height: 40px;
  }
  .homeIcon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../../assets/img/home.png");
    background-position: center bottom;
    background-size: 25px 25px;
    background-repeat: no-repeat;
  }
  .researchIcon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../../assets/img/research.png");
    background-position: center bottom;
    background-size: 25px 25px;
    background-repeat: no-repeat;
  }
  .searchIcon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../../assets/img/search.png");
    background-position: center bottom;
    background-size: 25px 25px;
    background-repeat: no-repeat;
  } 
  
  .navOpt1,.navOpt2,.navOpt3{
    /* background-color:  #e7f3f3; */
    /* background-color:  #4cb6d6; 
    height: 60px;
    padding: 10px;
    outline: none;
    box-shadow: none;
  }
  a:focus{
  border:1px solid rgb(79, 5, 153);
} */
#nav{
  /* background-color: rgb(190,231,233); */
  /* background-color: rgb(221, 70, 214); */
  /* background-color: rgb(149, 88, 129); */
  background-color: rgb(122, 26, 98);
  height: 80px;
  /* background-image: linear-gradient(25deg, #b99eff, #a5c1dc, #82e1b7, #34ff8f) */
  
}
.navbar-brand>span{
  /* color: rgb(84, 166, 204);  */
  color: white;
  font-size: 33px;
  font-weight: 10px;
}
.nav-link>span{
  font-size: 25px;
  /* color: rgb(69, 109, 128); */
  color: white;
  font-weight: 5px;
}
#homeImg{
  height: 50px;
  border-radius: 80%;
  padding-bottom: 10px;
  
}
a:focus{
  /* border:1px solid rgb(224, 177, 236); */
  color: rgb(224, 177, 236);
} 
a>span:hover {
  color: rgb(245, 118, 234);
}
.navbar-text{
  font-size: 20px;
  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 2px 2px 3px grey;
}
span{
  font-family: 'Times New Roman', Times, serif;
}

  