/* #navTop{
    /* position: fixed; */
    /* position: sticky;
    position: -webkit-sticky;
    top: 5px; 
  }
.nav{
    /* background-color: rgb(205, 210, 211) ; 
    background-color:white;
    height: 60px;
    color:rgb(79, 5, 153);
    font-size: 28px;
    border-width:2px;
    border-bottom-style:solid;
    border-bottom-color:gray;
  }
  a{
    color:rgb(79, 5, 153);
    text-decoration: none;
  }
  .navPic{
    padding: 10px;
  }
  .nav img{
    height: 40px;
  }
  .homeIcon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../../assets/img/home.png");
    background-position: center bottom;
    background-size: 25px 25px;
    background-repeat: no-repeat;
  }
  .researchIcon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../../assets/img/research.png");
    background-position: center bottom;
    background-size: 25px 25px;
    background-repeat: no-repeat;
  }
  .searchIcon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../../assets/img/search.png");
    background-position: center bottom;
    background-size: 25px 25px;
    background-repeat: no-repeat;
  } 
  
  .navOpt1,.navOpt2,.navOpt3{
    /* background-color:  #e7f3f3; */
    /* background-color:  #4cb6d6; 
    height: 60px;
    padding: 10px;
    outline: none;
    box-shadow: none;
  }
  a:focus{
  border:1px solid rgb(79, 5, 153);
} */
#nav{
  /* background-color: rgb(214, 188, 240); */
  background-color: rgb(223, 213, 233);
  height: 80px;
  
}
.navbar-brand>span{
  color: rgb(91, 178, 218); 
  font-size: 30px;
  font-weight: 10px;
}
.nav-link>span{
  font-size: 23px;
  color: rgb(91, 178, 218);
  font-weight: 5px;
}
#homeImg{
  height: 50px;
  border-radius: 80%;
  padding-bottom: 10px;
  
}
a:focus{
  border:1px solid rgb(224, 177, 236);
  color: rgb(224, 177, 236);
} 
a>span:hover {
  color: rgb(130, 52, 150);
}
.navbar-text{
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


  