<div title="Interpretable-Admet">
  <nav class="navbar fixed-bottom navbar-expand-lg navbar-light " id="navButton">
    <!-- <a class="navbar-brand" >explainable-ADMET</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <!-- <ul class="navbar-nav mr-auto">
       
        <li class="nav-item">
          <a class="nav-link" href="/explainable-admet/models">Document</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/explainable-admet/models">Contact</a>
          </li>
      </ul> -->
      
      <span class="navbar-text"  id="description">
        The recommended browsers: Chrome, Firefox, Safari.
       </span>
      <span class="navbar-text" id="copyright">
       Copyright  @ 2021 Explainable-Admet
      </span>
    </div>
  </nav>
</div>




  