
#navButton{
    height:15px;
    background-color: rgb(150, 149, 228);
}
#description{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}
.navbar-text{
    color: white;
}
