p{
    word-wrap: break-word;
    word-break: break-all;
}
.breadcrumb{
    font-size: 18px;
    background-color:rgb(199, 202, 204);
}
#divContainer{
    background-color: white; 
    color: rgb(79, 5, 153);
    margin-top: 25px;
}
table th{
    vertical-align:middle;
}
tr td{
    text-align: center;
}
tr th{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    color: rgb(42, 35, 49);
    padding: 0;
}