<div class="container" id="divContainer" >
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admetgcn/home">admetgcn</a></li>
        <!-- <li class="breadcrumb-item"><a href="#">Library</a></li> -->
        <li class="breadcrumb-item active" aria-current="page">contact</li>
      </ol>
    </nav> 
      <div class="row">
          <div class="col-sm-12">
            <p class="well" id="introduce">
                The ADMETGCN was developed and maintained by the Computer Aided Drug Design Group, at college of Pharmacy, Nankai University.
            <br>
            If you have questions or comments related to the web server or other suggestions about this website; please contact:
            </p>
            <ul>
                <li>
                    <div class="well" style="line-height: 30px;">
                        <b>Jianping Lin(Prof.)</b>
                        <br>
                        <i class="iconfont icon-addressfill" style="color: blue; "></i>&nbsp;Address：Tongyan Road, NO.38,JinNan District.
                        <br>
                        <i class="iconfont icon-institution" style="color: blue; "></i>&nbsp;Institution: College of Pharmacy of NKU.
                        
                    </div>
                </li>
                <li>
                    <div class="well" style="line-height: 30px;">
                        <b>Yu Wei(PhD)</b>
                        <br>
                        <i class="iconfont icon-Email" style="color: blue; "></i>&nbsp;E-mail: 929272582@qq.com
                        <br>
                        <i class="iconfont icon-addressfill" style="color: blue; "></i>&nbsp;Address：Tongyan Road, NO.38,JinNan District.
                        <br>
                        <i class="iconfont icon-institution" style="color: blue; "></i>&nbsp;Institution: College of Pharmacy of NKU.
                        <br>
                        <i class="iconfont icon-zip-code" style="color: blue; "></i>&nbsp;Zip-code：300353.
                    </div>
                </li>
                <li>
                    <div class="well" style="line-height: 30px;">
                        <b>Shanshan Li</b>
                        <br>
                        <i class="iconfont icon-Email" style="color: blue; "></i>&nbsp;E-mail: 2120191163@nankai.edu.cn
                        <br>
                        <i class="iconfont icon-addressfill" style="color: blue; "></i>&nbsp;Address：Tongyan Road, NO.38,JinNan District.
                        <br>
                        <i class="iconfont icon-institution" style="color: blue; "></i>&nbsp;Institution: College of Pharmacy of NKU.
                        <br>
                        <i class="iconfont icon-zip-code" style="color: blue; "></i>&nbsp;Zip-code：300353.
                    </div>
                </li>
                <li>
                    <div class="well" style="line-height: 30px;">
                        <b>Zhonglin Li</b>
                        <br>
                        <i class="iconfont icon-Email" style="color: blue; "></i>&nbsp;E-mail: 2120191166@nankai.edu.cn
                        <br>
                        <i class="iconfont icon-addressfill" style="color: blue; "></i>&nbsp;Address：Tongyan Road, NO.38,JinNan District.
                        <br>
                        <i class="iconfont icon-institution" style="color: blue; "></i>&nbsp;Institution: College of Pharmacy of NKU.
                        <br>
                        <i class="iconfont icon-zip-code" style="color: blue; "></i>&nbsp;Zip-code：300353.
                    </div>
                </li>
            </ul>
          </div>
      </div>
</div>