.breadcrumb{
    /* font-size: 18px; */
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
  }
#divContainer{
    background-color: white; 
    color: rgb(79, 5, 153); 
    margin-top: 25px;
    }
.breadcrumb-item{
    font-size: 24px;
    font-family: Tahoma, sans-serif;
    font-weight: lighter;
    }
.well{
    line-height: 30px;
    background-color: #fafafa;
    border: 1px solid #eee;
    padding: 19px;
    margin-top: 20px;
    font-size: 19px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
#introduce {
    background-color: rgb(223, 223, 226);
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}