

<div
  class="container"
  [style.height]="
    filter.mode == 'By Drawing Molecule from Editor' ? '600px' : '500px'
  "
  id="divContainer"
>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/explainable-admet/home" title="home"><span>Explainable-Admet</span></a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <span>prediction</span>
      </li>
    </ol>
  </nav>
  <br />
  <form method="POST" enctype="multipart/form-data" #filterForm="ngForm">
    <div class="form-group row">
      <label
        for="exampleSelect1"
        class="col-sm-3 col-form-label col-form-label-lg offset-1"
        style="font-size: 23px"
        >Select the Data Source:</label
      >

      <div class="col-sm-5">
        <select
          class="form-control form-control-lg"
          id="exampleSelect1"
          name="queryMode"
          [(ngModel)]="filter.mode"
          style="color: rgb(79, 5, 153)"
        >
          <option [value]="item" *ngFor="let item of filter.modes">
            {{ item }}
          </option>
        </select>
      </div>
      <small
        id="queryModeHelp"
        class="form-text text-muted col-sm-10 offset-1"
        style="font-size: 17px"
        >Before calculation, users should prepare a valid SMILES in case of
        errors. Users can use ChemSAR to do this.</small
      >
    </div>
    <br />

    <!-- 用户上传Smile结构部分 -->
    <div
      [style.display]="filter.mode == 'By Inputting SMILES' ? 'block' : 'none'"
    >
      <div class="form-group row">
        <label
          for="fliterform1"
          class="col-sm-2 col-form-label col-form-label-lg offset-1"
          style="font-size: 23px"
          >Smiles:</label
        >
        <div class="col-sm-7">
          <input
            type="text"
            class="form-control form-control-lg"
            id="fliterform1"
            style="color: rgb(79, 5, 153)"
            name="smiles"
            placeholder="e.g.,CC(=O)Oc1ccccc1C(=O)O"
            [(ngModel)]="predictionData.Smiles"
            required
            minlength="2"
            #inputSmiles="ngModel"
          />
          <span style="color: red;"> {{ validation }}</span>
          <div
            *ngIf="
              inputSmiles.invalid && (inputSmiles.dirty || inputSmiles.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="inputSmiles.errors.required">Smiles is required!</div>
            <div *ngIf="inputSmiles.errors.minlength">Smiles must be at least 2 characters long!</div>
          </div>
        </div>
        <small
          id="fliterform1Help"
          class="form-text text-muted col-sm-10 offset-1"
          style="font-size: 17px"
          >Some invalid descriptor values (e.g., NaN, infinity or a value too
          large) will lead to errors.</small
        >
      </div>
    </div>

    <!-- 用户上传文件部分 -->
    <!-- <div
      [style.display]="filter.mode == 'By Uploading Files' ? 'block' : 'none'"
    >
      <div class="form-group row">
        <label
          for="fliterform2"
          class="col-sm-2 col-form-label col-form-label-lg offset-1"
          style="font-size: 20px"
          >Choose file(*.sdf):</label
        >
        <div class="col-sm-5 offset-1">
          <input #SmilesFile
            type="file"
            class="form-control-file form-control-lg"
            id="fliterform2"
            accept=".sdf"
            (change) = "inputFile($event.target.files)"
          
          />
        </div>
        <small
          id="fliter2formHelp"
          class="form-text text-muted col-sm-10 offset-1"
          style="font-size: 17px"
          >Make sure you have chosen the right input and output formats,or the
          result will show the text of uploaded file itself.</small
        >
      </div>
    </div> -->
    <!-- 画结构部分 -->
    <div
      [style.display]="
        filter.mode == 'By Drawing Molecule from Editor' ? 'block' : 'none'
      "
    >
      <div class="form-group row">
        <div class="col-sm">
          <div class="row">
            <div class="col-sm-7 offset-1" id="filtform3">
              <app-jsme
                [elementId]="'structure-search'"
                [width]="'450px'"
                [height]="'350px'"
                [showDemo]="true"
                >loading JSME widget
              </app-jsme>
            </div>
            <div class="col-sm-3 align-self-center">
              <textarea
                name="jsme"
                class="smile-container"
                required
                minlength="2"
                #drawSmiles="ngModel"
                [(ngModel)]="predictionData.Smiles"
                cols="55"
                rows="8"
                readonly
              ></textarea>
              <span style="color: red;"> {{ validation }}</span>
              <div
                *ngIf="
                  drawSmiles.invalid && (drawSmiles.dirty || drawSmiles.touched)
                "
                class="alert alert-danger"
              >
                <div *ngIf="drawSmiles.errors.required">
                  Smiles is required!
                </div>
                <div *ngIf="inputSmiles.errors.minlength">Smiles must be at least 2 characters long!</div>
              </div>
            </div>
          </div>
          <br>
          <small
          id="drawStructureHelp"
          class="form-text text-muted col-sm-10 offset-1"
          style="font-size: 17px"
          >After you have finished drawing, please click the button:<i style="font-weight: bold;">Convert</i> or you can not submit your structure.
          </small>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="form-group row">
      <button
        type="button"
        style="font-size: 18px; color: rgb(79, 5, 153)"
        class="btn btn-outline-primary col-sm-1 offset-3"
        [style.display]="
          filter.mode == 'By Drawing Molecule from Editor' ? 'block' : 'none'
        "
        (click)="getJsmeSmiles()"
      >
        Convert
      </button>
      <button
        type="submit"
        style="color: rgb(79, 5, 153)"
        class="btn btn-outline-primary col-sm-1 offset-5"
        [disabled]="!filterForm.form.valid"
        (click)="postData()"
      >
        Submit
      </button>
      <!-- (click)="postData()" -->
      <!-- <button
        type="reset"
        style="color: rgb(79, 5, 153)"
        class="btn btn-outline-primary col-sm-1 offset-2"
        (click)="rest_form()"
      >
        Reset
      </button> -->
    </div>

    <!-- <div class="bd-example">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button
                class="btn btn-link btn-block text-left collapsedata"
                type="button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Physicochemical Property
              </button>
            </h2>
          </div>
          <div
            id="collapseOne"
            class="collapse"
            aria-labelledby="headingOne"
            data-parent="#accordionExample"
          >
            <div class="card-body collapsedata">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="Solubility" value="LogS (Solubility)" [(ngModel)]="inputData.Property" checked>
                <label class="form-check-label" for="Solubility">
                  LogS (Solubility)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="LogD" value="LogD (Distribution Coefficient D at PH=7.4)" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for="LogD">
                  LogD (Distribution Coefficient D at PH=7.4)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="LogP" value="LogP (Distribution Coefficient P)" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for="LogP">
                  LogP (Distribution Coefficient P)
                </label>
              </div>
             
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button
                class="btn btn-link btn-block text-left collapsed collapsedata"
                type="button"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Absorption
              </button>
            </h2>
          </div>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordionExample"
          >
            <div class="card-body collapsedata">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="LogPapp" value="LogPapp (Caco-2 Permeability)" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for="LogPapp">
                  LogPapp (Caco-2 Permeability)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="Pgp" value="Pgp-inhibitor" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for="Pgp">
                  Pgp-inhibitor
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="HIA" value="HIA (Human Intestinal Absorption)" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for="HIA">
                  HIA (Human Intestinal Absorption)
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button
                class="btn btn-link btn-block text-left collapsed collapsedata"
                type="button"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Distribution
              </button>
            </h2>
          </div>
          <div
            id="collapseThree"
            class="collapse"
            aria-labelledby="headingThree"
            data-parent="#accordionExample"
          >
            <div class="card-body collapsedata">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="PPB" value="PPB (Plasma Protein Binding)" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for="PPB">
                  PPB (Plasma Protein Binding)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="BBB" value="BBB (Blood–Brain Barrier)" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for="BBB">
                  BBB (Blood–Brain Barrier)
                </label>
              </div>

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <button
                class="btn btn-link btn-block text-left collapsed collapsedata"
                type="button"
                data-toggle="collapse"
                data-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                Metabolism
              </button>
            </h2>
          </div>
          <div
            id="collapseFour"
            class="collapse"
            aria-labelledby="headingFour"
            data-parent="#accordionExample"
          >
            <div class="card-body collapsedata">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="CYP450_1A2" value="CYP450 1A2 inhibitor" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for="CYP450_1A2">
                  CYP450 1A2 inhibitor
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="CYP450_3A4_inhibitor" value="CYP450 3A4 inhibitor" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for="CYP450_3A4_inhibitor">
                  CYP450 3A4 inhibitor
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="CYP450_3A4_substrate" value="CYP450 3A4 substrate" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for="CYP450_3A4_substrate">
                  CYP450 3A4 substrate
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="CYP450_2C9_inhibitor" value="CYP450 2C9 inhibitor" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for="CYP450_2C9_inhibitor">
                  CYP450 2C9 inhibitor
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="CYP450_2C9_substrate" value="CYP450 2C9 substrate" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for="CYP450_2C9_substrate">
                  CYP450 2C9 substrate
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="CYP450_2C19_inhibitor" value="CYP450 2C19 inhibitor" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for="CYP450_2C19_inhibitor">
                  CYP450 2C19 inhibitor
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="CYP450_2D6_inhibitor" value="CYP450 2D6 inhibitor" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for="CYP450_2D6_inhibitor">
                  CYP450 2D6 inhibitor
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="CYP450_2D6_substrate" value="CYP450 2D6 substrate" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for="CYP450_2D6_substrate">
                  CYP450 2D6 substrate
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h2 class="mb-0">
              <button
                class="btn btn-link btn-block text-left collapsed collapsedata"
                type="button"
                data-toggle="collapse"
                data-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                Excretion
              </button>
            </h2>
          </div>
          <div
            id="collapseFive"
            class="collapse"
            aria-labelledby="headingFive"
            data-parent="#accordionExample"
          >
            <div class="card-body collapsedata">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="Half Life" value="T 1/2 (Half Life)" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for="Half Life">
                  T 1/2 (Half Life)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="Clearance" value="CL (Clearance)" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for="Clearance">
                  CL (Clearance)
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSix">
            <h2 class="mb-0">
              <button
                class="btn btn-link btn-block text-left collapsed collapsedata"
                type="button"
                data-toggle="collapse"
                data-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
              >
                Toxicity
              </button>
            </h2>
          </div>
          <div
            id="collapseSix"
            class="collapse"
            aria-labelledby="headingSix"
            data-parent="#accordionExample"
          >
            <div class="card-body collapsedata">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="hERG" value="hERG (hERG Blockers)" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for="hERG">
                  hERG (hERG Blockers)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="H-HT" value="H-HT (Human Hepatotoxicity)" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for="H-HT">
                  H-HT (Human Hepatotoxicity)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="Ames" value="Ames (Ames Mutagenicity)" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for="Ames">
                  Ames (Ames Mutagenicity)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id=" DILI" value="DILI (Drug Induced Liver Injury)" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for=" DILI">
                  DILI (Drug Induced Liver Injury)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Property" id="FDAMDD" value="FDAMDD (Maximum Recommended Daily Dose)" [(ngModel)]="inputData.Property">
                <label class="form-check-label" for="FDAMDD">
                  FDAMDD (Maximum Recommended Daily Dose)
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </form>
  <br />
  <br />

  <!-- <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Card Title</h4>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="/explainable-admet/models" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Card Title</h4>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Card Title</h4>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div> -->
</div>

<!-- 折叠信息部分 -->
<!-- <form method="POST" >
  <div class="bd-example">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left collapsedata"
              type="button"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Physicochemical Property
            </button>
          </h2>
        </div>
        <div
          id="collapseOne"
          class="collapse"
          aria-labelledby="headingOne"
          data-parent="#accordionExample"
        >
          <div class="card-body collapsedata">
            <select
            class="form-control form-control-lg"
            id="Physicochemical Property"
            name="SelectedProperty"
            [(ngModel)]="physicochemical.mode"
            style="color: rgb(79, 5, 153)"
          >
            <option [value]="item" *ngFor="let item of physicochemical.modes">
              {{ item }}
            </option>
          </select> 
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left collapsed collapsedata"
              type="button"
              data-toggle="collapse"
              data-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Absorption
            </button>
          </h2>
        </div>
        <div
          id="collapseTwo"
          class="collapse"
          aria-labelledby="headingTwo"
          data-parent="#accordionExample"
        >
          <div class="card-body collapsedata">
            <select
            class="form-control form-control-lg"
            id="Absorption"
            name="SelectedProperty"
            [(ngModel)]="absorption.mode"
            style="color: rgb(79, 5, 153)"
          >
            <option [value]="item" *ngFor="let item of absorption.modes">
              {{ item }}
            </option>
        
          </select> 
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left collapsed collapsedata"
              type="button"
              data-toggle="collapse"
              data-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Distribution
            </button>
          </h2>
        </div>
        <div
          id="collapseThree"
          class="collapse"
          aria-labelledby="headingThree"
          data-parent="#accordionExample"
        >
          <div class="card-body collapsedata">
            <select
            class="form-control form-control-lg"
            id="Distribution"
            name="SelectedProperty"
            [(ngModel)]="distribution.mode"
            style="color: rgb(79, 5, 153)"
          >
            <option [value]="item" *ngFor="let item of distribution.modes">
              {{ item }}
            </option>
          </select>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left collapsed collapsedata"
              type="button"
              data-toggle="collapse"
              data-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
              Metabolism
            </button>
          </h2>
        </div>
        <div
          id="collapseFour"
          class="collapse"
          aria-labelledby="headingFour"
          data-parent="#accordionExample"
        >
          <div class="card-body collapsedata">
            <select
            class="form-control form-control-lg"
            id="Metabolism"
            name="SelectedProperty"
            [(ngModel)]="metabolism.mode"
            style="color: rgb(79, 5, 153)"
          >
            <option [value]="item" *ngFor="let item of metabolism.modes">
              {{ item }}
            </option>
          </select>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left collapsed collapsedata"
              type="button"
              data-toggle="collapse"
              data-target="#collapseFive"
              aria-expanded="false"
              aria-controls="collapseFive"
            >
              Excretion
            </button>
          </h2>
        </div>
        <div
          id="collapseFive"
          class="collapse"
          aria-labelledby="headingFive"
          data-parent="#accordionExample"
        >
          <div class="card-body collapsedata">
            <select
            class="form-control form-control-lg"
            id="Excretion"
            name="SelectedProperty"
            [(ngModel)]="excretion.mode"
            style="color: rgb(79, 5, 153)"
          >
            <option [value]="item" *ngFor="let item of excretion.modes">
              {{ item }}
            </option>
          </select>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left collapsed collapsedata"
              type="button"
              data-toggle="collapse"
              data-target="#collapseSix"
              aria-expanded="false"
              aria-controls="collapseSix"
            >
              Toxicity
            </button>
          </h2>
        </div>
        <div
          id="collapseSix"
          class="collapse"
          aria-labelledby="headingSix"
          data-parent="#accordionExample"
        >
          <div class="card-body collapsedata">
            <select
            class="form-control form-control-lg"
            id="Toxicity"
            name="SelectedProperty"
            [(ngModel)]="toxicity.mode"
            style="color: rgb(79, 5, 153)"
          >
            <option [value]="item" *ngFor="let item of toxicity.modes">
              {{ item }}
            </option>
          </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</form> -->


<div class="modal fade" id="predictionModal" tabindex="-1" role="dialog" aria-labelledby="predictionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="predictionModalLabel">Error</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body" style="text-align: center; font-size: 19px; font-family: 'Times New Roman', Times, serif;">
       {{predictionError}}
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Comfirm</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="loadingModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" >
    <span style="color: rgb(220, 247, 234); font-size: 20px; font-family: 'Times New Roman', Times, serif;">Calculating, please wait</span>
    &nbsp;&nbsp;&nbsp;
    <div class="spinner-grow text-info" role="status" style="width: 3rem; height: 3rem;">
      <span class="sr-only">Loading...</span>
    </div>
    &nbsp;&nbsp;
    <div class="spinner-grow text-info" role="status" style="width: 2rem; height: 2rem;">
      <span class="sr-only">Loading...</span>
    </div>
    &nbsp;&nbsp;
    <div class="spinner-grow text-info" role="status" style="width: 1rem; height: 1rem;">
      <span class="sr-only">Loading...</span>
    </div>
  </div> 
</div>