/* 导航栏css样式 */
/* .header {
  min-width: 960px;

  height: 58px;
  background-color: #e7e6ad;
  color: #e359f0;
}
.nav {
  width: 960px;
  margin: 0 auto;
  display: flex;
  height: 58px;
  justify-content: space-between;
  align-items: center;
}
.nav .navList {
  display: flex;
  font-size: 20px;
}
.navList .navItem {
    display: inline-block;
  width: 280px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  vertical-align: middle;
}
.navItem:focus {
  outline: none;
}
.navItem.router-link-active {
  border-bottom: 2px solid #efefef;
}

.logo img {
  height: 40px;
  width: auto;
}

.homeIcon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("..\assets\img\home.png");
  background-position: center bottom;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}
.researchIcon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("..\assets\img\research.png");
  background-position: center bottom;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}
.searchIcon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("..\assets\img\search.png");
  background-position: center bottom;
  background-size: 25px 25px;
  background-repeat: no-repeat;
} */



/* 筛选部分 */
/* .fliter {
height: 80px;
width: 60%;
font-size: 20px;
text-align: center;
color: rgba(230, 88, 222, 0.748);
border: 2px none rgb(235, 241, 241);
background-color: #eff1f1;
margin: 0 auto;
padding: 40px 20px;
}
#queryMode {
height: 30px;
width: 40%;
font-size: 15px;
color: rgba(211, 71, 211, 0.8);
border: 2px none rgb(235, 241, 241);
}
/* select {
width: 200px;
height: 20px;
} */
/*.fliterForm {
height: 150px;
width: 60%;
font-size: 20px;
text-align: center;
color: rgba(230, 88, 222, 0.748);
border: 2px none rgb(235, 241, 241);
background-color: #dcd9dd;
margin: 0 auto;
padding: 40px 20px;
}
#smiles {
height: 30px;
width: 300px;
}
input.btnSub {
margin: 10px 20px;
color: coral;
}
input.btnRes {
color: #e359f0;
}*/
/* app-jsme{
  width: 200px;
  height: 100px;
} */ 
