<div class="container" id="divContainer">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admetgcn/home" title="home">admetgcn</a></li>
      <li class="breadcrumb-item active" aria-current="page">optimize</li>
    </ol>
  </nav>
  <br>
  <br>
  <form method="POST" enctype="multipart/form-data" #optimizeForm="ngForm">
    <div class="form-group row">
      <label
        for="optimizeform"
        class="col-sm-2 col-form-label col-form-label-lg offset-1"
        style="font-size: 23px"
        >Smiles:</label
      >
      <div class="col-sm-7">
        <input
          type="text"
          class="form-control form-control-lg"
          id="optimizeform"
          style="color: rgb(79, 5, 153)"
          name="smiles"
          placeholder="e.g.,CC(=O)Oc1ccccc1C(=O)O"
          [(ngModel)]="optimizeData.Smiles"
          required
          minlength="2"
          #inputSmiles="ngModel"
        />
        <div
          *ngIf="
            inputSmiles.invalid && (inputSmiles.dirty || inputSmiles.touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="inputSmiles.errors.required">Smiles is required!</div>
          <div *ngIf="inputSmiles.errors.minlength">Smiles must be at least 2 characters long!</div>
        </div>
      </div>
      <br>
      <br>
      <small
        id="optimizeformHelp"
        class="form-text text-muted col-sm-10 offset-1"
        style="font-size: 17px"
        >Some invalid descriptor values (e.g., NaN, infinity or a value too
        large) will lead to errors.</small
      >
    </div>

    <div class="form-group row">
      <button
        type="submit"
        style="color: rgb(79, 5, 153)"
        class="btn btn-outline-primary col-sm-1 offset-5"
        [disabled]="!optimizeForm.form.valid"
        (click)="postData()"
      >
        Submit
      </button>
    </div>
  </form>
</div>


<div class="modal fade" id="validationModal" tabindex="-1" role="dialog" aria-labelledby="validationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="validationModalLabel">Error</h5>
      </div>
      <div class="modal-body" style="font-family: 'Times New Roman', Times, serif; font-size: 19px; text-align: center;">
       {{validation}}
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Comfirm</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="loadingModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" >
    <span style="color: rgb(220, 247, 234); font-size: 20px; font-family: 'Times New Roman', Times, serif;">Optimizing, please wait</span>
    &nbsp;&nbsp;&nbsp;
    <div class="spinner-grow text-info" role="status" style="width: 3rem; height: 3rem;">
      <span class="sr-only">Loading...</span>
    </div>
    &nbsp;&nbsp;
    <div class="spinner-grow text-info" role="status" style="width: 2rem; height: 2rem;">
      <span class="sr-only">Loading...</span>
    </div>
    &nbsp;&nbsp;
    <div class="spinner-grow text-info" role="status" style="width: 1rem; height: 1rem;">
      <span class="sr-only">Loading...</span>
    </div>
  </div> 
</div>