.breadcrumb{
    /* font-size: 18px; */
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}
.breadcrumb-item{
    font-size: 24px;
    font-family: Tahoma, sans-serif;
    font-weight: lighter;
  }
#divContainer{
    background-color: white; 
    color: rgb(79, 5, 153); 
    margin-top: 25px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    color: black;
}
h1{
    text-align: center;
    text-shadow: 0px 0px 3px grey;
}
em{
    color: rgb(137, 204, 235);
}