<header>
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url('../../assets/img/admet-explainable.png')">
          <div class="carousel-caption d-none d-md-block">
           </div>  
        </div>
        <div class="carousel-item" style="background-image: url('../../assets/img/home_2.jpg'); background-size:75%;" >
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </header>

  <div class="container">

    <h1 class="welcome">Welcome to Explainable-ADMET</h1>
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Model Performance</h4>
          <div class="card-body">
            <p class="card-text">
              Explainable-ADMET is a platform that uses graph neural network 
              to predict the properties of ADMET by establishing
              corresponding classification and regression models, the 
              prediction of the properties of ADMET is realized.
            </p>
          </div>
          <div class="card-footer">
            <a href="/explainable-admet/models#list-item-2" class="btn btn-info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Data Summary</h4>
          <div class="card-body">
            <p class="card-text">
              At present,we can  predict 41 ADMET-related properties, covering
              six aspects: Basic properties, Absorption, Distribution, Metabolism,
              Excretion and Toxicity.
            </p>
          </div>
          <div class="card-footer">
            <a href="/explainable-admet/models" class="btn btn-info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Contact Us</h4>
          <div class="card-body">
            <p class="card-text">If you have questions or comments related to the web server or other suggestions about this website, please contact us.</p>
          </div>
          <div class="card-footer">
            <a href="/explainable-admet/contact" class="btn btn-info">Learn More</a>
          </div>
        </div>
      </div>
    </div>